.inputSide{
   display: flex; 
   flex-direction: column;
   gap: 2%;
   box-sizing: border-box;
   width: 40%;
   height: 85%;
   justify-content: space-evenly;
   margin-left: 3%;
}

.field{
    display: flex;
    flex-direction: row;
    margin: 1%;
    justify-content: space-between;
}

.inputSection{
    border: 5px solid; 
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    height: 33%;
}

.genSection{
    border-color: #98971e;
}

.expSection{
    border-color: #83a598;
}

.eduSection{
    border-color: #fabd2f;
}

.inputSectionHeader{
   display: flex; 
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

span{
    white-space: nowrap;
}

input{
    width: 60%;
    justify-self: flex-end;
}

button{
    width: 25%;
    height: 100%;
    font-weight: bold;
    background-color: #fbf1c7;
}

button:hover{
    background-color: gray;
}